# 该文件配置npm的一些参数
# https://pnpm.io/npmrc
registry=https://registry.npmmirror.com/
# registry=https://registry.npmjs.org/

# 关闭严格的对等依赖模式
# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=false
